<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
    <%= link_to "Home", root_path %>|
    <%= link_to "About", about_path %>|
    <%= link_to "New Posts", new_post_path %>|
    <%= link_to "All Posts", posts_path %>|

    <%#= link_to "New User", new_user_path %>
    <% if user_signed_in?%>
    <%= link_to "Edit User Profile", edit_user_path(current_user) %>
    <%= link_to "Edit User Password", edit_user_passwords_path(current_user) %>
    <% end %>
    <%#=error because current_user = nil to test type in the console  %>
    <%#= current_user doesn't need @ because it's helper_method  %>
    <%#=sign in user then will work or can bypass  %>

    <% if user_signed_in? %>
            Hello <%= current_user.first_name %>
            <%= link_to 'Sign out', sessions_path, method: :delete %>
          <% else %>
            <%= link_to 'Sign up', new_user_path %>
            <%= link_to 'Sign In', new_session_path %>

          <% end %>
    </div>
    <%= notice || alert  %>
    <%= yield %>
  </body>
</html>
